body {
	padding: 0;
	margin: 0;
	background-color: #181818;
	overflow: hidden;
}

.calculator {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 80vh;
	grid-template-columns: repeat(4, 4rem);
	grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
}

.calculator button {
	cursor: pointer;
	border: 0.1rem solid black;
	background-color: #3a3a3a;
	color: white;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	transition: 150ms;
}

.calculator button:hover {
	background-color: #6e6e6e;
}

.calculator button:active {
	transform: scale(0.9);
}

.double-size {
	grid-column: span 2;
}

.userOutput {
	grid-column: 1 / -1;
	background-color: rgba(8, 8, 8, 0.318);
	color: white;
	font-weight: bold;
	border: 0.1rem;
	padding: 0.5rem;
	border-style: solid;
	border-radius: 5px 5px 0 0;
	border-color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	word-wrap: break-word;
	word-break: break-all;
}

.userText {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
}

.calcOutput {
	color: white;
	font-size: 1.5rem;
}

button:nth-child(4) {
	background-color: #126762;
}
button:nth-child(4):hover {
	background-color: #1a9f96;
}
button:nth-child(8) {
	background-color: #b17402;
}
button:nth-child(8):hover {
	background-color: #de9000;
}
button:nth-child(12) {
	background-color: #731c1c;
}
button:nth-child(12):hover {
	background-color: #c53333;
}
button:nth-child(16) {
	background-color: #3a4671;
}
button:nth-child(16):hover {
	background-color: #6073ba;
}
button:nth-child(19) {
	background-color: #5a486a;
}
button:nth-child(19):hover {
	background-color: #9777b2;
}

button:nth-child(2),
button:nth-child(3) {
	background-color: #242424;
}

button:nth-child(2):hover,
button:nth-child(3):hover {
	background-color: #101010;
}

.footer {
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	height: 10%;
	padding: 10px;
	font-size: 20px;
	color: white;
}

.fa {
	transition: transform 0.3s ease-in-out;
	color: white;
}
.fa:hover {
	transform: rotate(360deg) scale(1.2);
}
