body {
	padding: 0;
	margin: 0;
	background-color: #181818;
}

.calculator {
	display: grid;
	justify-content: center;
	align-content: center;
	border: 1px solid black;
	min-height: 100vh;
	grid-template-columns: repeat(4, 4rem);
	grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
}

.calculator button {
	cursor: pointer;
	border: 0.1rem solid black;
	background-color: #3a3a3a;
	color: white;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	transition: 150ms;
}

.calculator button:hover {
	background-color: #202020;
}

.double-size {
	grid-column: span 2;
}

.userOutput {
	grid-column: 1 / -1;
	background-color: rgba(8, 8, 8, 0.318);
	color: white;
	font-weight: bold;
	border: 0.1rem;
	padding: 0.5rem;
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}

.smallTopText {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
}

.bigBottomText {
	color: white;
	font-size: 1.5rem;
}
